<div class="col-md-12 on-admission">
    <h2 class="title">On going college admission</h2>
   <div id="myCarousel-2" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <!-- item 1 -->
      <div class="item active">
            <div class="col-md-3 admission-wrapper">
                    <div class="col-md-12 on-admission-item">
                        <div class="col-md-4 admission-image">
                            <img src="./images/ku.png" alt="" width="100%">
                            <p><span class="fa fa-phone"></span>
                                o1-4444440, 98689888
                              </p>
                        </div>
                        <div class="col-md-8 admission-des">
                            <h2>Aryan School of Engineering</h2>
                            <p><span class="fa fa-graduation-cap"></span>
                               BE civil, BBA, BCA, BIT.
                            </p>
                            <p><span class="fa fa-globe"></span>
                              Mid Baneshwor Kathmandu Nepal
                            </p>
                        </div>
                        <div class="col-md-12 admission-btn">
                            <button class="btn btn-primary btn-sm"> Take Admission Now</button>
                        </div>
                    </div>
                   </div>
                
                   <div class="col-md-3 admission-wrapper">
                    <div class="col-md-12 on-admission-item">
                        <div class="col-md-4 admission-image">
                            <img src="./images/ku.png" alt="" width="100%">
                            <p><span class="fa fa-phone"></span>
                                o1-4444440, 98689888
                              </p>
                        </div>
                        <div class="col-md-8 admission-des">
                            <h2>Aryan School of Engineering</h2>
                            <p><span class="fa fa-graduation-cap"></span>
                               BE civil, BBA, BCA, BIT.
                            </p>
                            <p><span class="fa fa-globe"></span>
                              Mid Baneshwor Kathmandu Nepal
                            </p>
                        </div>
                        <div class="col-md-12 admission-btn">
                            <button class="btn btn-primary btn-sm"> Take Admission Now</button>
                        </div>
                    </div>
                   </div>
                
                
                   <div class="col-md-3 admission-wrapper">
                    <div class="col-md-12 on-admission-item">
                        <div class="col-md-4 admission-image">
                            <img src="./images/ku.png" alt="" width="100%">
                            <p><span class="fa fa-phone"></span>
                                o1-4444440, 98689888
                              </p>
                        </div>
                        <div class="col-md-8 admission-des">
                            <h2>Aryan School of Engineering</h2>
                            <p><span class="fa fa-graduation-cap"></span>
                               BE civil, BBA, BCA, BIT.
                            </p>
                            <p><span class="fa fa-globe"></span>
                              Mid Baneshwor Kathmandu Nepal
                            </p>
                        </div>
                        <div class="col-md-12 admission-btn">
                            <button class="btn btn-primary btn-sm"> Take Admission Now</button>
                        </div>
                    </div>
                   </div>
                
                   <div class="col-md-3 admission-wrapper">
                    <div class="col-md-12 on-admission-item">
                        <div class="col-md-4 admission-image">
                            <img src="./images/ku.png" alt="" width="100%">
                            <p><span class="fa fa-phone"></span>
                                o1-4444440, 98689888
                              </p>
                        </div>
                        <div class="col-md-8 admission-des">
                            <h2>Aryan School of Engineering</h2>
                            <p><span class="fa fa-graduation-cap"></span>
                               BE civil, BBA, BCA, BIT.
                            </p>
                            <p><span class="fa fa-globe"></span>
                              Mid Baneshwor Kathmandu Nepal
                            </p>
                        </div>
                        <div class="col-md-12 admission-btn">
                            <button class="btn btn-primary btn-sm"> Take Admission Now</button>
                        </div>
                    </div>
                   </div>
      </div>
     <!-- end -->

<!-- item 2 -->
      <div class="item">
            <div class="col-md-3 admission-wrapper">
                    <div class="col-md-12 on-admission-item">
                        <div class="col-md-4 admission-image">
                            <img src="./images/ku.png" alt="" width="100%">
                            <p><span class="fa fa-phone"></span>
                                o1-4444440, 98689888
                              </p>
                        </div>
                        <div class="col-md-8 admission-des">
                            <h2>Aryan School of Engineering</h2>
                            <p><span class="fa fa-graduation-cap"></span>
                               BE civil, BBA, BCA, BIT.
                            </p>
                            <p><span class="fa fa-globe"></span>
                              Mid Baneshwor Kathmandu Nepal
                            </p>
                        </div>
                        <div class="col-md-12 admission-btn">
                            <button class="btn btn-primary btn-sm"> Take Admission Now</button>
                        </div>
                    </div>
                   </div>
                
                   <div class="col-md-3 admission-wrapper">
                    <div class="col-md-12 on-admission-item">
                        <div class="col-md-4 admission-image">
                            <img src="./images/ku.png" alt="" width="100%">
                            <p><span class="fa fa-phone"></span>
                                o1-4444440, 98689888
                              </p>
                        </div>
                        <div class="col-md-8 admission-des">
                            <h2>Aryan School of Engineering</h2>
                            <p><span class="fa fa-graduation-cap"></span>
                               BE civil, BBA, BCA, BIT.
                            </p>
                            <p><span class="fa fa-globe"></span>
                              Mid Baneshwor Kathmandu Nepal
                            </p>
                        </div>
                        <div class="col-md-12 admission-btn">
                            <button class="btn btn-primary btn-sm"> Take Admission Now</button>
                        </div>
                    </div>
                   </div>
                
                
                   <div class="col-md-3 admission-wrapper">
                    <div class="col-md-12 on-admission-item">
                        <div class="col-md-4 admission-image">
                            <img src="./images/ku.png" alt="" width="100%">
                            <p><span class="fa fa-phone"></span>
                                o1-4444440, 98689888
                              </p>
                        </div>
                        <div class="col-md-8 admission-des">
                            <h2>Aryan School of Engineering</h2>
                            <p><span class="fa fa-graduation-cap"></span>
                               BE civil, BBA, BCA, BIT.
                            </p>
                            <p><span class="fa fa-globe"></span>
                              Mid Baneshwor Kathmandu Nepal
                            </p>
                        </div>
                        <div class="col-md-12 admission-btn">
                            <button class="btn btn-primary btn-sm"> Take Admission Now</button>
                        </div>
                    </div>
                   </div>
                
                   <div class="col-md-3 admission-wrapper">
                    <div class="col-md-12 on-admission-item">
                        <div class="col-md-4 admission-image">
                            <img src="./images/ku.png" alt="" width="100%">
                            <p><span class="fa fa-phone"></span>
                                o1-4444440, 98689888
                              </p>
                        </div>
                        <div class="col-md-8 admission-des">
                            <h2>Aryan School of Engineering</h2>
                            <p><span class="fa fa-graduation-cap"></span>
                               BE civil, BBA, BCA, BIT.
                            </p>
                            <p><span class="fa fa-globe"></span>
                              Mid Baneshwor Kathmandu Nepal
                            </p>
                        </div>
                        <div class="col-md-12 admission-btn">
                            <button class="btn btn-primary btn-sm"> Take Admission Now</button>
                        </div>
                    </div>
                   </div>
      </div>
      <!-- end -->
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel-2" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel-2" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>