<div class="container-fluid colleges-container" ng-controller="collegeController" style="padding:0px;">
    <div class="contain" style="background-image:url('./images/back.jpg'); height: 120vh;     position: fixed;
    width: 100%;
    background-size: cover; background-position: center;">
     <p class="middle">Find and update notes of bachelors and +2 levels</p>
     <div class="search-bar col-md-6 col-md-offset-3">
         <input type="text" placeholder="search notes" class="form-control">
         <button class="btn btn-success fa fa-search"></button>
     </div>
 </div>
<div class="col-md-8 col-md-offset-2 colleges" style=" margin-top: 21%; padding:0px 20px;">
    <div class="col-md-12 colleges-header">
         <div class="colleges-header-links col-md-12">
                <div class="col-md-7">
                        <h1>Find notes, and other in pdf</h1>
                </div>
                <div class="col-md-5 notes-shortcuts">
                     <a href="">Upload New</a>
                     <a href="">bachlor</a>
                     <a href="">+2</a>
                </div>
         </div>
    </div>
    <div class="col-md-12 college-lists-wrapper">
        <div class="col-md-12 lists-of-notes">
                <ul class="list-group">
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                        <li class="list-group-item"><a href="">BIT 2nd sem notes data structure pdf.</a> 
                            <span class="fa fa-download" title="download"> 34</span>
                            <span class="fa fa-star" title="favourite"> 330</span>
                            <span class=" fa fa-calendar"> 2012/12/12</span>
                        </li>
                </ul>
        </div>
     </div>
    <% include admission.html%>
</div>
</div>
<br><br>

<style>
/* notes */
.colleges-header-links h1{
    font-size: 18px;
}
.notes-shortcuts{
    margin-top: 5px;
}
.notes-shortcuts a{
    padding: 11px 20px;
    float: right;
}
.notes-shortcuts a:hover{
    background: #d2d2d2;
}
.colleges-header-links{
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 4%;
}
.lists-of-notes .list-group li span{
    float: right;
    opacity: 0.4;
    margin-right: 5px;
    border-right: 1px solid #bdbcbc;
    padding-right: 10px;
    font-size: 17px;
    color: #797979;
    margin-top: 4px;
}
.lists-of-notes .list-group li:hover span{
    opacity: 1;
}
.lists-of-notes .list-group li:hover{
    box-shadow: 0px 0px 4px black;
}
.lists-of-notes .list-group li a{
    font-size: 19px;
}
.lists-of-notes .list-group li{
    background: #d2d2d2;
    margin-top: 7px;
}
/* end */
</style>