<div class="error-page">
        <h1>Page not found</h1>
        <div class="try-page">
            <img src="/images/404.jpg" alt="">
            <div class="links-try">
            <h5>Back to</h5>
                <a href="/home">Home</a>
            </div>
        </div>
</div>
<style>
  .error-page{
    width: 50%;
    margin: 0 auto;
  }
  .error-page h1{
    width: 99%;
    background: #ea4a18;
    color: white;
    padding-left: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .try-page img{
    width: 100%;
    margin-top: -18px;
  }
  .links-try h5{
    font-size: 21px;
    color: blue;
    margin-bottom: 9px;
  }
  .links-try a{
    border: 1px solid #ff7436;
    color: gray;
    padding: 7px 314px;
    border-radius: 5px;
    font-size: 18px;
  }
  .links-try a:hover{
    background: #ea4a18;
    color: white;
  }
  .links-try{
      position: absolute;
      margin-top: -103px;
  }
</style>